@use '../sass/variables';
@use '../sass/mixins';

.matches-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  background-color: #E9E7ED;
  padding: 25px;
  // border-radius: 40px;
}

.matches-list-title {
  @include mixins.title;
}

.matches-list-items {
  width: 100%;
}