@use '../sass/variables';

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9E7ED;
  padding: 25px;
  border-radius: 40px;
  margin-left: 10em;
  margin-top: 5rem;
  margin-right: 15px;
  width: 500px;
}

.user-avatar {
  border-radius: 50%;
}