@use './components/sass/variables';

* {
  margin: 0;
  font-family: variables.$primary-font;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


