@use '../sass/variables';

.banner {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../docs/hands-up.png);
  background-size: cover;
  font-family: variables.$primary-font;
  z-index: -1;
}

.background-txt {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px variables.$primary-color;
  font-family: "Alfa Slab One", cursive;
  font-size: 25em;
  letter-spacing: 0.1em;
  position: absolute;
}

.front-txt {
  z-index: 100;
  font-size: 48px;
  color: variables.$secondary-color;
  /* font-style: italic; */
  font-weight: 700;
}