@use '../sass/variables';
@use '../sass/mixins';

.standard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../../images/background-ink-1.png);
}

.standard-container-mirror {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-image: url(../../images/background-ink-2.png);
}

.home-standard-img {
  @include mixins.standard-element;
}

article {
  @include mixins.standard-element;

  h2 {
    font-family: variables.$logo-font;
    font-size: 40px;
    text-align: initial;
    color: variables.$dark-color;
  }

  p {
    text-align: initial;
    font-size: 20px;
    line-height: 2rem;
    color: variables.$dark-color;
  }

  .home-button {
    @include mixins.standard-button;
  }
}