.img {
  width: 2em;
}

.sports--img {
  height: 5em;
  width: 5em;
  object-fit: cover;
  border-radius: 50%;
}
.header {
  text-align: center;
  padding-bottom: 0.5em;
}
.profile {
  text-align: center;
  &-img {
  border-radius: 50%;
  width: 10em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: solid;
  padding: 0.5em;
}
