.img {
  width: 2em;
}

.sports--img {
  height: 5em;
  width: 5em;
  object-fit: cover;
  border-radius: 50%;
}

.profile {
  text-align: center;
  &-img {
  border-radius: 50%;
  margin-top: 5em;
  margin-bottom: 2em;
}
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
