@use '../sass/variables';

nav {
  height: 75px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: variables.$dark-color;
}

nav .logo {
  margin: 0;
  margin-left: 2em;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  
}

.logo-name {
  text-decoration: none;
  color: variables.$primary-color;
  font-family: variables.$logo-font;
  font-size: 50px;

  &:hover {
    color: gray;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: fixed;
  margin: 0;
  margin-right: 2em;
  top: 50%;
  transform: translateY(-50%);
  position: inherit;
  width: auto;
  list-style: none;
}

nav ul li {
  color: variables.$primary-color;
  text-decoration: none;
  margin-left: 2em;
}

.navbar-link {
  color: variables.$primary-color;
  text-decoration: none;
  font-family: variables.$primary-font;
}

.navbar-link:hover {
  color: gray;
}

.form-inline {
  background-color: variables.$dark-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

.form-label {
  color: variables.$primary-color;
  margin-right: 0.5em;
  margin-left: 2em;
}

.form-input {
  margin-bottom: 0.5em;
}

.form-btn {
  color: variables.$primary-color;
  margin-left: 2em;
  background-color: transparent;
  border: solid;
  padding-left: 10px;
  padding-right: 10px;
  border-width: thin;
  margin-bottom: 0.5em;

  &:hover {
    color: gray;
  }
}

