@use '../sass/variables';

nav {
  height: 75px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

nav .logo {
  margin: 0;
  margin-left: 2em;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  
}

.logo-name {
  text-decoration: none;
  color: black;
  font-family: variables.$logo-font;
  font-size: 35px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: fixed;
  margin: 0;
  margin-right: 2em;
  top: 50%;
  transform: translateY(-50%);
  position: inherit;
  width: 250px;
  list-style: none;
}

nav ul li {
  color: black;
  text-decoration: none;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-family: variables.$primary-font;
}

.navbar-link:hover {
  color: gray;
}
