@use './sass/mixins';
@use './sass/variables';

.match-item-container {
  display: flex;
  flex-direction: row;
  // width: 100%;
  margin-top: 1em;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  border-radius: 50px;
  background-color: variables.$bg-color;
  width: 20%;
  min-width: 330px;
  margin-bottom: 3em;
}

.match-info {
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-width: medium;
  padding: 5px;
  margin-bottom: 10px;
  border-color: variables.$primary-color;
  padding-left: 30px;
  padding-right: 30px;
}

.match-players {
  font-size: 1.4rem;
  margin: 0;
}

.upcoming-match-text {
  display: flex;

  flex-direction: column;
  margin: 0;
}

.upcoming-inline-info {
  display: flex;
  align-items: baseline;
  // padding: 5px;
  width: 100%;
  justify-content: flex-start;
}

#upcoming-inline-info-icon {
  color: variables.$dark-color;
  margin-bottom: 0;
}

.upcoming-inline-info-element {
  padding-left: 20px;
  color: variables.$dark-color;
  margin-bottom: 0;
}

.winner-buttons {
  width: 100%;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}

.upcoming-sport-icon {
  width: 50px;
  height: 50px;
}