@use './sass/variables';
@use './sass/mixins';

.sports-type-container {
  display: flex;
  flex-direction: row;
}

.sports-button {
  @include mixins.standard-button;
  width: 200px;
}

.single-name {
  font-size: 1.5em;
  color: variables.$dark-color;
}

.single-info {  
  color: variables.$dark-color;
}

.single-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: variables.$bg-color;
  width: 20%;
  min-width: 240px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.title {
  @include mixins.title;
}

.user-connect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}